@charset "utf-8";
/* CSS Document */
@font-face {
	font-family: 'FontAwesome';
	src: url('../fonts/fontawesome-webfont.eot?v=4.0.3');
	src: url('../fonts/fontawesome-webfont.eot?#iefix&v=4.0.3') format('embedded-opentype'), url('../fonts/fontawesome-webfont.woff?v=4.0.3') format('woff'), url('../fonts/fontawesome-webfont.ttf?v=4.0.3') format('truetype'), url('../fonts/fontawesome-webfont.svg?v=4.0.3#fontawesomeregular') format('svg');
	font-weight: normal;
	font-style: normal;
}
@font-face {
	font-family: 'latoregular';
	src: url('../fonts/Lato-Regular-webfont.eot');
	src: url('../fonts/Lato-Regular-webfont.eot?#iefix') format('embedded-opentype'), url('../fonts/Lato-Regular-webfont.woff2') format('woff2'), url('../fonts/Lato-Regular-webfont.woff') format('woff'), url('../fonts/Lato-Regular-webfont.ttf') format('truetype'), url('../fonts/Lato-Regular-webfont.svg#latoregular') format('svg');
	font-weight: normal;
	font-style: normal;
}
@font-face {
	font-family: 'latoblack';
	src: url('../fonts/Lato-Black-webfont.eot');
	src: url('../fonts/Lato-Black-webfont.eot?#iefix') format('embedded-opentype'), url('../fonts/Lato-Black-webfont.woff2') format('woff2'), url('../fonts/Lato-Black-webfont.woff') format('woff'), url('../fonts/Lato-Black-webfont.ttf') format('truetype'), url('../fonts/Lato-Black-webfont.svg#latoblack') format('svg');
	font-weight: normal;
	font-style: normal;
}
@font-face {
	font-family: 'latobold';
	src: url('../fonts/Lato-Bold-webfont.eot');
	src: url('../fonts/Lato-Bold-webfont.eot?#iefix') format('embedded-opentype'), url('../fonts/Lato-Bold-webfont.woff2') format('woff2'), url('../fonts/Lato-Bold-webfont.woff') format('woff'), url('../fonts/Lato-Bold-webfont.ttf') format('truetype'), url('../fonts/Lato-Bold-webfont.svg#latobold') format('svg');
	font-weight: normal;
	font-style: normal;
}
@font-face {
	font-family: 'SCRIPTBL';
	src: url('../fonts/SCRIPTBL.eot');
	src: local('../fonts/SCRIPTBL'), url('../fonts/SCRIPTBL.woff') format('woff'), url('../fonts/SCRIPTBL.ttf') format('truetype');
}
@font-face {
	font-family: 'cooper_blackregular';
	src: url('../fonts/cooper_black-webfont.eot');
	src: url('../fonts/cooper_black-webfont.eot?#iefix') format('embedded-opentype'), url('../fonts/cooper_black-webfont.woff2') format('woff2'), url('../fonts/cooper_black-webfont.woff') format('woff'), url('../fonts/cooper_black-webfont.ttf') format('truetype'), url('../fonts/cooper_black-webfont.svg#cooper_blackregular') format('svg');
	font-weight: normal;
	font-style: normal;
}
@font-face {
	font-family: 'rex_bold_bold';
	src: url('../fonts/rex_bold-webfont.eot');
	src: url('../fonts/rex_bold-webfont.eot?#iefix') format('embedded-opentype'), url('../fonts/rex_bold-webfont.woff2') format('woff2'), url('../fonts/rex_bold-webfont.woff') format('woff'), url('../fonts/rex_bold-webfont.ttf') format('truetype'), url('../fonts/rex_bold-webfont.svg#rex_bold_bold') format('svg');
	font-weight: normal;
	font-style: normal;
}
body, h2, h1, p, h3 {
	margin: 0px;
}
a {
	text-decoration: none;
}
.header_top {
	width: 100%;
	height: 36px;
	background: url('../images/headertop_01.jpg');
}
.header_top_fixed {
	width: 1100px;
	margin: 0px auto;
	height: 36px;
}
.clear {
	clear: both;
}
.header_top_left {
	float: left;
	width: 40%;
	margin-top: 6px;
}
.header_top_left div:nth-child(2) {
	border: none;
	padding-left: 15px;
}
.msg_left {
	float: left;
	font-family: 'latoregular';
	font-size: 14px;
	border-right: 1px solid #ffa359;
	color: #fff;
	padding: 3px 0px;
	padding-right: 20px;
}
.msg_left a {
	color: #fff;
	transition: all .3s ease-in-out;
	-webkit-transition: all .3s ease-in-out;
}
.msg_left a:hover {
	color: #ccc;
}
.header_top_right {
	float: right;
	margin-top: 6px;
}
.header_top_right ul {
	margin: 0px;
}
.header_top_right>ul>li {
	display: inline-block;
}
.header_top_right>ul>li:nth-child(2) a {
	font-family: 'latoregular';
	font-size: 14px;
	border-left: 1px solid #ffa359;
	text-decoration: none;
	color: #fff;
	padding: 3px 0px;
	padding-left: 20px;
	transition: all .3s ease-in-out;
	-webkit-transition: all .3s ease-in-out;
}
.header_top_right>ul>li:nth-child(2) a:hover {
	color: #ccc;
}
.header_top_right>ul>li:nth-child(1) a:hover {
	color: #ccc;
}
.header_top_right>ul>li:nth-child(1) a {
	font-family: 'latoregular';
	font-size: 14px;
	text-decoration: none;
	color: #fff;
	padding: 3px 0px;
	padding-right: 20px;
	transition: all .3s ease-in-out;
	-webkit-transition: all .3s ease-in-out;
}
.header_secound {
	width: 100%;
	height: 116px;
	color: #fff;
}
.header_secoundfixed {
	width: 1100px;
	margin: 0px auto;
}
.secoundfixed_left {
	float: left;
	color: #8b8b8b;
	font-size: 14px;
	font-family: 'latoregular';
	width: 34%;
	padding:47px 0px 47px 0px;
	text-transform: uppercase;
}
.logo_left {
	margin-left: 70px;
	float: left;
	text-align: center;
	padding: 14px 0px 14px 0px;
}
.secoundfixed_left_right {
	float: right;
	padding:13px 0px 1px 0px;
}
.wisht_list {
	float: left;
	margin-left: 18px;
}
.wish_list_inner {
	float: left;
	color: #8b8b8b;
	font-size: 14px;
	font-family: 'latoregular';
}
.wish_list_inner a{
	color: #8b8b8b;
text-decoration:none;
}
.box_wishlist {
	height: 20px;
	width: 20px;
	line-height: 20px;
	text-align: center;
	font-family: 'latoregular';
	color: #fff;
	float: left;
	font-size: 12px;
	background: #8b8b8b;
	margin-left: 10px;
}
.f_rigt {
	height: 50px;
}
.serching {
	height: 50px;
	width: 92%;
	float: right;
}
.ser_left {
	height: 50px;
	float: left;
	width: 200px;
}
.ser_left input {
	transition: all ease-in-out 0.3s;
	outline: 0;
	padding-left: 5px;
}
.ser_left input:focus {
	padding-left: 10px;
}
.input_serch {
	width: 200px;
	height: 34px;
}
.serching_box {
	cursor: pointer;
	height: 34px;
	width: 50px;
	background:#000000;
	border:0px;
	outline:none;
	float: right;
	text-align: center;
}
.serching_box:hover .ser_left {
	display: block !important;
}
.serching_box11 {
	height: 28px;
	width: 50px;

	float: right;
}
.serching_box11:hover .ser_left {
	display: block !important;
}

.menus_100 {
	width: 100%;
	border-bottom: 1px solid #e1e1e1;
	border-top:1px solid #e1e1e1;

}
.menu_fixed {
	width: 1100px;
	margin: 0px auto;
	height: 35px;
	border: 0px solid red;
}
.menu_fixed ul {
	padding: 0px;
}
.menu_fixed ul li {
	display: inline-block;
	margin: 0px;
	text-transform:uppercase;
}
.menu_fixed ul  li a:hover {
	border-bottom: 2px solid #000;
	border-top: 2px solid #000;
	font-family: 'latoregular';
	position: relative;
	background: url("../images/arrow.png") no-repeat bottom center;
}
.menu_fixed ul li a:after {
	border-color: #000;
	border: 5px 10px 5px 10px;
	left: 20%;
	position: absolute;
}
.menu_fixed ul li a {
	padding: 15px 25px;
	border: 0px solid red;
	font-family: 'latoregular';
	color: #000;
	text-decoration: none;
}
.bannerWrapper_fixed {
	width: 1100px;
	margin: 0px auto;
}
.bannerWrapper_fixed_left {
	width: 850px;
	float: left;
	border: 2px solid #eadebf;
	margin-top: 4px;
}
.bannerWrapper_fixed_left img {
	width: 100%;
	/*height: 435px;*/

}
.bannerWrapper_fixed_right {
	width: 240px;
	float: right;
	padding-top: 4px;
}
.bannerWrapper_fixed_right IMG {
	width: 100%;
	height: 492px;
	border: 2px solid #eadebf;
}
.bannerWrapper_fixed p {
	font-family: 'latoregular';
	font-size: 15px;
	text-align: center;
	height: 9px;
}
.slider_100new {
	width: 100%;
	border-bottom: 1px solid #e1e1e1;
	margin-bottom: 10px;
	padding-bottom: 10px;
}
.slider_bottom {
	width: 1100px;
	padding: 10px 0px;
}
.slider_bottom div:nth-child(3) {
	float: right;
}
.slider_bottom div:nth-child(2) {
	margin-left: 55px;
}
.sizechart1
{
color: #ff6600 !important;
float: left;
margin: 7px 0px 0px 10px;
font-size: 13px;
}
.sizechart1 a
{
color: #ff6600 !important;
float: left;
font-size: 13px;
}
.sizechart1 a :hover
{
color: #ff6600 !important;
text-decoration:underline !important;
cursor: pointer;
}
.slider_bottom_new {
	width: 330px;
	float: left;
	position: relative;
	height: 376px;
	transition: all .3s ease-in-out;
	-webkit-transition: all .3s ease-in-out;
}
.slider_bottom_new img {
	width: 330px;
	border: 2px solid #eadebf;
	height: 376px;
}
.slider_bottom_new_inner {
	width: 100%;
	height: 75px;
	display: none;
	background: rgba(0,0,0,0.5);
	border-top: 2px solid #eadebf;
	border-bottom: 2px solid #eadebf;
	position: absolute;
	top: 140px;
	right: -2px;
	transition: all .3s ease-in-out;
	-webkit-transition: all .3s ease-in-out;
}
.slider_bottom_new:hover .slider_bottom_new_inner {
	display: block;
}
.by_now {
	width: 134px;
	height: 30px;
	background: #fff;
	cursor: pointer;
	border: 2px solid #000;
	margin: 20px auto;
	text-align: center;
	line-height: 30px;
	font-family: 'latoblack';
}
.amrgin {
	transition: all .3s ease-in-out;
	-webkit-transition: all 1s ease
}
.amrgin a {
	font-family: 'latobold' !important;
}
.lato_bold {
	font-family: 'latobold' !important;
}
.amrgin:hover {
	background: #000;
	color: #fff;
	border: 2px solid #000 !important;
}
.amrgin:hover a {
	color: #fff;
}
.by_now a {
	color: #000;
	padding: 6px 29px 8px 32px;
	text-decoration: none;
}
.new_arriael {
	width: 100%;
}
.new_arriael_fixed {
	width: 1100px;
	margin: 0px auto;
}
.new_arriael_fixed1 {
	width: 1100px;
	background:url(../images/testback.png) no-repeat;
	height:250px;
	margin: 0px auto;
}

.new_arriael_fixed h2 {
	font-size: 36px;
	font-family: 'SCRIPTBL';
	font-weight: normal;
	color: #242424;
	margin-top: 10px;
	float: left;
	margin-bottom: 10px;
}
.new_arriael_fixed h1 {
	font-size: 36px;
	font-family: 'SCRIPTBL';
	font-weight: normal;
	color: #242424;
	margin-top: 10px;
	float: left;
	margin-bottom: 10px;
}
.new_arriael_fixed h2 {
	font-size: 36px;
	font-family: 'SCRIPTBL';
	font-weight: normal;
	color: #242424;
	margin-top: 10px;
	float: left;
	margin-bottom: 10px;
}

.new_arriael_fixed_inner {
	width: 1100px;
	padding: 20px 0px;
}
.amrgin {
	margin: 20px auto 0px auto;
}
.new_arriael_fixed_inner div:nth-child(6) {
	float: right;
	margin-right: 0px;
}
.new_arriael_fixed_inner1 {
	width: 1100px;
	padding: 20px 0px;
}
.new_arriael_fixed_inner1 div:nth-child(6) {
	float: right;
	margin-right: 0px;
}


/* Product pages start*/
.new_arriael_prod {
	width: 1100px;
	margin:0px auto;
}
.new_arriael_prod h2 {
	font-size: 36px;
	font-family: 'SCRIPTBL';
	font-weight: normal;
	color: #242424;
	margin-top: 10px;
	float: left;
	margin-bottom: 10px;
}
.new_arriael_prod_inner {
	width: 700px;
	padding: 20px 0px;
	float:left;
}
.amrgin {
	margin: 20px auto 0px auto;
}
.new_arriael_prod_inner div:nth-child(6) {
	float: right;
	margin-right: 0px;
}
.new_arriael_prod_left
{
	width:200px;
	float:left;
	padding-top:36px;

	}
.new_arriael_prod_left h3
{
	font-family: 'latoblack';
	font-size:15px;
	padding-bottom:10px;
	text-transform:uppercase;


	}
.new_arriael_prod_right
{
	width:800px;
	float:left;



	}
.prodfilter
{
	width:160px;
	border:1px solid #f5f5f5;
	margin-top: 15px;
	  border-radius: 5px 5px 0 0;
	}
.prodfilter h5
{
	background:#ff821d;
	font-size:12px;
	padding:5px;
	text-transform:uppercase;
	font-family: 'latoblack';
	color:#fff;
	border-radius:4px;
	margin:0;

	}
/* Product Pages End */


.newbox {
	float: left;
	color: #fff;
	top: 10px;
	bottom: 10px;
	right: 0px;
	position: absolute;
	font-size: 13px;
	text-align: center;
}
.newbox img {
	width: 60px !important;
	height: 25px !important;
}
.newbox2 {
	float: left;
	top: 10px;
	bottom: 10px;
	right: 0px;
	position: absolute;
	font-size: 13px;
	text-align: center;
}
.newbox2 img {
	width: 60px !important;
	height: 25px !important;
}
.fixed_inner_item {
	width: 150px;
	border: 1px solid #f5f5f5;
	float: left;
	position: relative;
	margin-right: 35px;
	padding-bottom: 2px;
	transition: all .2s ease-in-out;
}
.fixed_inner_itemin a
{
text-decoration:none;
color:#000000;
}
.fixed_inner_itemcat {
	width: 150px;
	border: 1px solid #f5f5f5;
	float: left;
	position: relative;
	margin:15px;
	padding-bottom: 2px;
	transition: all .2s ease-in-out;
}

.fixed_inner_item_pries {
background:#f5f5f5;
	}
.fixed_inner_item_pries_boxp
{
	text-align: center;
	color: #ff6600;
font-family: 'latoregular';
	font-size: 13px;
	font-weight:700;
}
.fixed_inner_item_pries_box {
	text-align: center;
	color: #ff6600;
	font-family: 'latoregular';
	font-size: 13px;
}
.fixed_inner_item_pries_boxh
{
	text-align: center;
	color: #ff6600;
font-family: 'latoregular';
	font-size: 13px;
	padding-bottom:3px;
}
.pro1
{
font-weight:700;
width:49%;
float:left;
border-left:1px solid #ff6600;
}
.pro
{
text-decoration:line-through;
width:50%;
color:#8b8b8b;
float:left;

}
.fixed_inner_item img {
	height: 200px;
	width: 100%;
}
.fixed_inner_itemcat img
{
	height: 200px;
	width: 100%;
}
.fixed_inner_itemcat a
{
text-decoration:none;
font-size: 14px;
text-align: center;
color:#000000;
font-family: 'latobold';
}
.left_title {
	float: right;
	width: 100%;
	color:#8b8b8b;
	height:30px;
	overflow:hidden;
	font-size: 12px;
	color:#ff6600;
	padding-top:2px;
	padding-bottom:2px;
	text-transform:uppercase;
	text-align: center;
	font-family: 'latoregular';
}
.left_title h1
{
	font-size: 12px;
	color:#ff6600;
	font-family: 'latoregular';
}
.left_title11
{
	float: right;
	width: 100%;
	color:#8b8b8b;
	padding-bottom:2px;
	font-size: 12px;
	text-align: center;
	font-family: 'latoregular';
}
.left_titleh {
	float: right;
	width: 100%;
	color:#8b8b8b;
	height:30px;
	overflow:hidden;
	font-size: 12px;
	color:#ff6600;
	padding-top:2px;
	padding-bottom:2px;
	text-transform:uppercase;
	text-align: center;
	font-family: 'latoregular';
}
.left_titleh h1
{
	font-size: 12px !important;
	color:#ff6600;
	text-transform:uppercase;
	font-family: 'latoregular';
}
.left_titleh1 {
	float: right;
	width: 100%;
	color:#8b8b8b;
	padding-bottom:2px;
	font-size: 12px;
	text-align: center;
	font-family: 'latoregular';
}

.left_title1
{
	float: right;
	width: 100%;
	font-size: 14px;
	text-align: center;
	font-family: 'latobold';
	padding:10px 0px 10px 0px;
}
.fixed_inner_item_cart {
	height: 36px;
	position: absolute;
	top: 85px;
	width: 100%;
	background: rgba(0,0,0,0.5);
	display: none;
	text-align: center;
}
.fixed_inner_item_cart span img {
	width: 20px;
	height: 13px;
	margin: 10px 5px;
}
.fixed_inner_item:hover .fixed_inner_item_cart{
	display: block;
}
.fixed_inner_item:hover .ban_sale{
	display: block;
}

.fixed_inner_item:hover {
	box-shadow: 0px 0px 10px #ececec;
}
.fixed_inner_itemcat:hover {
	box-shadow: 0px 0px 10px #ececec;
}

.footer_bttom {
	width: 100%;
	border-top: 1px solid #e1e1e1;
	margin-top:5px;
}
.footer_bttom_fixed {
	width: 1100px;
	margin: 0px auto;
}
.footer_bttom_fixed_left {
	float: left;
	margin-right: 122px;
}
.footer_bttom_fixed_left h1 {
	font-family: 'latobold';
	font-size: 20px;
	padding: 30px 0px 10px 0px;
	text-transform: uppercase;
}
.footer_bttom_fixed_left h2 {
	font-family: 'latobold';
	font-size: 20px;
	padding: 30px 0px 10px 0px;
	text-transform: uppercase;
}
.footer_bttom_fixed_left h3
{
	font-family: 'latobold';
	font-size: 20px;
	padding: 30px 0px 10px 0px;
	text-transform: uppercase;
}
.footer_bttom_fixed_left ul {
	margin: 0px;
	padding: 0px;
}
.footer_bttom_fixed_left ul li {
	display: block;
	padding: 5px 0px;
}
.footer_bttom_fixed_left ul li a {
	background: url("../images/alr_wite.png") no-repeat left center;
	text-decoration: none;
	padding-left: 7px;
	font-size: 14px;
	font-family: 'latoregular';
	color: #000000;
	transition: all .3s ease-in-out;
	-webkit-transition: all .3s ease-in-out;
}
.footer_bttom_fixed_left ul li a:hover {
	background: url("../images/hover.png") no-repeat left center;
	color: #ff821d;
}
.adddres_cont {
	float: right;
	margin-right: 0px;
	width: 281px;
}
.adddres_cont h2 {
	font-family: "latobold";
	font-size: 20px;
	padding: 30px 0px 10px;
	text-transform: uppercase;
}
.adddres_cont h3 {
	font-family: "latobold";
	font-size: 20px;
	padding: 30px 0px 10px;
	text-transform: uppercase;
}
.adddres_cont h1 {
	font-family: "latobold";
	font-size: 20px;
	padding: 30px 0px 10px;
	text-transform: uppercase;
}

.contact {
	margin: 0px;
}
.contact img {
	float: left;
	padding-top: 5px;
}
.addres {
	float: left;
	width: 240px;
	margin-left: 16px;
	line-height: 26px;
	font-size: 14px;
	font-family: "latoregular";
	color: #000;
}
.addres_email {
	float: left;
	margin-left: 10px;
	font-size: 14px;
	font-family: "latoregular";
	color: #000;
	transition: all .3s ease-in-out;
	-webkit-transition: all .3s ease-in-out;
}
.addres_email a {
	color: #000;
	transition: all .3s ease-in-out;
	-webkit-transition: all .3s ease-in-out;
}
.addres_email a:hover .email_img {
	background: url(../images/hover_msg.png) no-repeat left center;
	transition: all .3s ease-in-out;
	-webkit-transition: all .3s ease-in-out;
}
.addres_email a:hover {
}
.email_img {
	padding-top: 5px;
	float: left;
	width: 16px;
	height: 16px;
	background: url(../images/msg_new.png) no-repeat left center;
}
.email {
	padding: 5px 0px;
	width: 203px;
	transition: all .3s ease-in-out;
	-webkit-transition: all .3s ease-in-out;
}
.email:hover .addres_email a {
	color: #ff821d;
}
.email:hover .email_img {
	background: url(../images/hover_msg.png) no-repeat left center;
}
.input_suscriber {
	width: 80%;
	height: 30px;
	border: 1px solid #E1E1E1;
	padding-left: 10px;
	margin-top: 10px;
	transition: all ease-in-out 0.3s;
}
.input_suscriber:focus {
	box-shadow: 0px 0px 2px #ff6600;
	outline: 0;
}
.input_suscriber_button {
	margin-top: 10px;
	width: 84%;
	height: 32px;
	text-transform: uppercase;
	background: #ff821d;
	border: 1px solid #ff6600;
	cursor: pointer;
	font-family: 'latobold';
	color: #fff;
	margin-bottom: 10px;
	transition: all .3s ease-in-out;
	-webkit-transition: all .3s ease-in-out;
	border-radius: 2px;
}
.input_suscriber_button:hover {
	background: #ff6600;
	color: #fff;
}
.bootom2 {
	width: 100% !important;
	height: 60px !important;
	background: url("../images/slicebottom_03.png") repeat-x !important;
}
.bootom2_fixed {
	width: 1100px !important;
	margin: 0px auto!important;
}
.payment {
	float: left !important;
}
.pa_title1 {
	font-family: 'latobold' !important;
	color: #000!important;
	padding: 15px 0px 10px 0px!important;
	font-size: 14px !important;
	text-transform: uppercase;
	float: left;
}
.pa_title {
	font-family: 'latobold' !important;
	color: #000 !important;
	padding: 24px 23px 10px 20px!important;
	font-size: 14px;
	text-transform: uppercase;
	float: left;
}
.pa_title_image {
	float: left;
	padding: 15px 0px 0px 10px;
}
.pa_title_image img {
	margin-right: 10px;
	height:30px;
}
.social_i
{
padding: 7px 5px 20px 7px;
}
.social_icon {
	float: right;
}
.social_icon_right {
	float: right;
	padding: 15px 0px 0px 10px;
}
.social_icon_right1 {
	padding: 15px 0px 0px 10px;
}

.facebook {
	background: #0481d9;
	height: 30px;
	width: 30px;
	float: left;
	margin-left: 10px;
	line-height: 35px;
	text-align: center;
	cursor: pointer;
	transition: all .3s ease-in-out;
	-webkit-transition: all .3s ease-in-out;
}
facebook img {
	transition: all .3s ease-in-out;
	-webkit-transition: all .3s ease-in-out;
}
.facebook img:hover {
	opacity: 0.5;
}
.facebook img {
	transition: all .3s ease-in-out;
	-webkit-transition: all .3s ease-in-out;
}
.facebook img:hover {
	opacity: 0.5;
}
.g_ img {
	transition: all .3s ease-in-out;
	-webkit-transition: all .3s ease-in-out;
}
.g_ img:hover {
	opacity: 0.5;
}
.new_icon img {
	transition: all .3s ease-in-out;
	-webkit-transition: all .3s ease-in-out;
}
.new_icon img:hover {
	opacity: 0.5;
}
.ieys img {
	transition: all .3s ease-in-out;
	-webkit-transition: all .3s ease-in-out;
}
.ieys img:hover {
	opacity: 0.5;
}
.pin img {
	transition: all .3s ease-in-out;
	-webkit-transition: all .3s ease-in-out;
}
.pin img:hover {
	opacity: 0.5;
}
.twiitter img {
	transition: all .3s ease-in-out;
	-webkit-transition: all .3s ease-in-out;
}
.twiitter img:hover {
	opacity: 0.5;
}
.twiitter {
	background: #29c5f6;
	height: 30px;
	width: 30px;
	float: left;
	margin-left: 10px;
	line-height: 35px;
	text-align: center;
	cursor: pointer;
}
.pin {
	background: #e13037;
	height: 30px;
	width: 30px;
	float: left;
	margin-left: 10px;
	line-height: 35px;
	text-align: center;
	cursor: pointer;
}
.ieys {
	background: #3b82b9;
	height: 30px;
	width: 30px;
	float: left;
	margin-left: 10px;
	line-height: 35px;
	text-align: center;
	cursor: pointer;
}
.g_ {
	background: #d0422b;
	height: 30px;
	width: 30px;
	float: left;
	margin-left: 10px;
	line-height: 35px;
	text-align: center;
	cursor: pointer;
}
.new_icon {
	background: #cf5c9e;
	height: 30px;
	width: 30px;
	float: left;
	margin-left: 10px;
	line-height: 35px;
	text-align: center;
	cursor: pointer;
}
.footer_bottom_new {
	width: 100% !important;
	height: 40px !important;
	background: #000 !important;
}
.footer_bottom_new_fixed {
	width: 1100px !important;
	margin: 0px auto !important;
}
.left_new_fixed {
	float: left !important;
	width: 28% !important;
	color: #fff !important;
	font-size: 12px !important;
	font-family: arial !important;
	padding: 12px 0px !important;
}
.left_new_fixed_mid {
	float: left !important;
	width: 50% !important;
	color: #fff !important;
	font-size: 12px !important;
	font-family: arial !important;
	padding: 12px 0px !important;
	text-align: center !important;
}
.left_new_fixed_mid a {
	color: #fff !important;
	transition: all .3s ease-in-out !important;
	-webkit-transition: all .3s ease-in-out!important;
}
.left_new_fixed_mid a:hover {
	color: #ff821d ;!important;
}
.left_new_fixed_des {
	float: right!important;
	color: #fff!important;
	font-size: 12px!important;
	font-family: arial !important;
	padding: 12px 0px !important;
	text-align: center !important;
}
.left_new_fixed_des a {
	color: #fff !important;
	-webkit-transition: all ease-in-out 0.3s !important;
	transform: scale(1.0, 1.0) !important;
}
.left_new_fixed_des a:hover {
	color: #ff821d !important;
}
/* testimonials start*/
.customerSays {
	text-align: center !important;
	padding: 20px !important;
}
.coln {
	float: left !important;
	margin-top: 110px !important;
}
.coln1 {
	float: left;
	margin-top: 110px;
}

.custWritten {
	float: left;
	width: 1028px;
}
.custWritten a {
	font-family: 'latoregular';
	font-size: 14px;
	text-decoration: none;
	color: #ff821d;
	padding: 3px 0px;
	padding-right: 20px;
	transition: all .3s ease-in-out;
	-webkit-transition: all .3s ease-in-out;
}
.custWritten h2 {
	font-size: 22px;
	margin-bottom: 17px;
	font-weight: 400;
	float: none;
}
.cityName {
	color: #000;
	font-size: 12px;
	display: block;
	font-weight: 700;
}
#s4 div {
}
.testouter
{
margin:0px auto;
padding-top:20px;
width:829px;
}
.timage
{
width:100px;
float:left;
}
.tcontain
{
width:700px;
font-family: 'latoregular';
color:#FFFFFF;
font-size:14px;
text-align:justify;
float:left;
}
.tcontain p
{
line-height:22px;
}
.timage img
{
width:85px;
height:85px;
border-radius:50%;
}
.tname
{
	font-family: 'latobold';
	font-size:16px;
	margin-top:12px;
	padding-bottom:4px;
}
.viewall
{
width:80px;
font-family: 'latobold';
font-size:16px;
color:#FFFFFF;
margin:10px auto;

}
.viewall a
{
text-decoration:none;
color:#FFFFFF;
}
.tplace
{
	font-size:14px;
	font-style:italic;
	font-family: 'latoregular';
}
/* testimonials end */

/*login register form start*/
.loginform {
	width: 1100px;
	margin: 0px auto;
}
.logindetail ul {
	list-style: none;
	margin: 0;
	padding: 0;
}
.logindetail ul li {
	margin: 0;
	padding: 0;
}
fieldset {
	color: #000;
	border: 2px solid #ff821d;
	border-radius: 3px;
}
fieldset legend {
	font-family: 'rex_bold_bold';
	font-size: 25px;
	color: #ff821d;
}
.forgotbutton input[type="submit"] {
	margin: 10px 0;
	height: 32px;
	text-transform: uppercase;
	background: #ff821d;
	border: 1px solid #ff6600;
	cursor: pointer;
	font-family: 'latobold';
	color: #fff;
	margin-left: 5px;
	transition: all .3s ease-in-out;
	-webkit-transition: all .3s ease-in-out;
	border-radius: 2px;
}
.logininfo
{
	margin: 10px 0;
	width: 100px;
	height: 37px;
	text-transform: uppercase;
	background: #ff821d;
	border: 1px solid #ff6600;
	cursor: pointer;
	font-family: 'latobold';
	color: #fff;
	transition: all .3s ease-in-out;
	-webkit-transition: all .3s ease-in-out;
	border-radius: 2px;
}
.emailerr
{
margin:3px 0px 0px 16px;color:#F00; font-size:12px;
	font-family: 'latoregular';
}
.passerr{
margin:3px 0px 0px 16px;color:#F00; font-size:12px;
	font-family: 'latoregular';
}
.errmain
{
color:#FF0000;
margin:20px 0px 0px 20px;
font-family: 'latoregular';
font-size:14px;
}
.logininfo:hover
{
	background: #ff6600;
	color: #fff;
}
.submitcss input[type="submit"] {
	margin: 10px 0;
	width: 100px;
	height: 37px;
	text-transform: uppercase;
	background: #ff821d;
	border: 1px solid #ff6600;
	cursor: pointer;
	font-family: 'latobold';
	color: #fff;
	transition: all .3s ease-in-out;
	-webkit-transition: all .3s ease-in-out;
	border-radius: 2px;
}
.submitcss input[type="submit"]:hover {
	background: #ff6600;
	color: #fff;
}
.submitcss {
	font-family: 'latoregular';
	font-size: 14px;
	margin-left: 6px;
}
.submitcss a {
	color: #ff821d;
	font-size:16px;
}
.forgetlink {
	margin-top: 5px;
}
.register_left_column, .register_right_column {
	width: 50%;
}
.register_left_columnreg, .register_right_columnreg {
	width: 400px;
	float: left;
}
.addtocartpro {
	font-family: 'latoregular';
}
.dish_textdiv1_text1 {
	font-family: 'latoregular';
	padding: 20px 0;
	font-size: 20px;
}
.dish_textdiv1_text1 span {
	color: #ff6600;
}
/*login register form end*/

/* jssor slider start*/

.jssorb05 div, .jssorb05 div:hover, .jssorb05 .av {
	background: url(../images/b05.png) no-repeat;
	overflow: hidden;
	cursor: pointer;
}
.jssorb05 div {
	background-position: -7px -7px;
}
.jssorb05 div:hover, .jssorb05 .av:hover {
	background-position: -37px -7px;
}
.jssorb05 .av {
	background-position: -67px -7px;
}
.jssorb05 .dn, .jssorb05 .dn:hover {
	background-position: -97px -7px;
}
.jssora12l, .jssora12r, .jssora12ldn, .jssora12rdn {
	position: absolute;
	cursor: pointer;
	display: block;
	background: url(../images/a12.png) no-repeat;
	overflow: hidden;
}
.jssora12l {
	background-position: -16px -37px;
}
.jssora12r {
	background-position: -75px -37px;
}
.jssora12l:hover {
	background-position: -136px -37px;
}
.jssora12r:hover {
	background-position: -195px -37px;
}
.jssora12ldn {
	background-position: -256px -37px;
}
.jssora12rdn {
	background-position: -315px -37px;
}
/* jssor slider End*/
/* Inner pages styles start*/
.middle_part_outer {
	width: 100%;
	border-bottom: 1px solid #ccc;
	padding-bottom: 10px;
}
.middle_part {
	width: 1100px;
	min-height: 230px;
	margin: 0px auto;
}
.middle_part h1 {
	font-family: 'rex_bold_bold';
	color: #ff6600;
	border-bottom: 1px solid #f5f5f5;
	margin: 5px 0;
}
.menudiv1
{
padding-top:20px;
margin-bottom:20px;
}
.middle_part .menudiv1 p   {
	font-size: 14px;
	line-height:22px;
	font-family: 'latoregular';
	text-align: justify;
}

.middle_part .breadcump {
	font-size: 12px;
	font-family: 'latoregular';
	text-align: right;
	margin: 5px 0;
	text-transform:uppercase;

}
.middle_part .breadcump a {
	font-size: 12px;
	font-family: 'latoregular';
	color: #ff6600;
	text-transform:uppercase;
}
/* Inner pages styles End*/
/* testimonials styles start*/
#testimonials {
	width: 1050px;
	margin: 0 auto;
	font-family: 'latoregular';
	list-style: none;
	margin: 0px;

	padding: 0;
}
#testimonials h2 {
	color: #000;
	font-size: 17px;
	font-family: 'latoregular';
	text-shadow: 0px 0px 5px rgba(255,255,255,0.25);
	padding-bottom: 5px;
	text-transform: uppercase;
}
#testimonials li {
	border-top: 2px solid #f5f5f5;
	clear: both;
	padding: 25px 0;
	font-size: 14px;
}
#testimonials li img {
	border: 3px solid #ccc;
	float: left;
	border-radius: 50%;
	width: 100px;
	height: 100px;
	margin: 0 20px 0 0;
}
#testimonials li:nth-child(2n) img {
	float: right;
	margin: 0 0 0 20px;
}
#testimonials p {
	padding: 0 0 20px;
}
#testimonials li:first-child {
	border: none;
}
#testimonials div {
	overflow: hidden;
}
.testplace {
	color: #999;
	font-size: 14px;
}
/* testimonials styles End*/
/* pagging styles */
.paging
{
margin-top:20px;
margin-bottom:15px;
}
div#paging {
	font-family: 'latoregular';
	padding: 0px;
	margin: 7px;
}
div#paging a {
	margin: 2px;
	padding: 0.10em 0.30em 0.10em 0.30em;
	background-color: #000;
	text-decoration: none; /* no underline */
	color: #fff;
	transition: all ease-in-out 0.3s;
}
div#paging a:hover, div#paging a:active {
	padding: 0.10em 0.30em 0.10em 0.30em;
	margin: 2px;
	background-color: #ff6600;
	color: #fff;
}
div#paging a.btn .current {
	padding: 0.10em 0.30em 0.10em 0.30em;
	margin: 2px;
	background-color: #ff6600;
	color: #6d643c;
}
div#paging .disabled {
	display: none;
}
/* pagging styles */
/*testimonial styles  start*/

#accordion {
	width: 700px;
	margin: 0;
	padding: 0;
}
#accordion h3
{
background:#CCCCCC;
}
#accordion p span {
	cursor: pointer;
}
.news-title {
	color: #1e6e86;
	font: bold 12px Arial;
	margin-bottom: 10px;
	background: #EDEDED;
	padding: 5px 10px;
}
.news_text {
	margin-left: 10px;
	line-height: 18px;
}
/*testimonial styles  end*/
/* faqs styles start */

.faqques {
	color: #010065;
	margin-bottom: 10px;
	background: #f5f5f5;
	padding: 8px 10px 8px 5px;
	font-family: 'latoregular';
	font-size: 15px;
	color: #ff6600;
}
.faqques a {
	color: #000;
}
.faqans {
	margin-left: 5px;
	line-height: 18px;
	display: none;
	padding-bottom: 10px;
	font-family: 'latoregular';
	font-size: 14px;
}
.faqans span {
	color: #ff6600;
	font-weight: 700;
}
.faqlist {
	margin: 0;
	padding: 0;
	width: 1000px;
	list-style-type: none;
}
/* faqs styles End */
/* Contact us styles start*/
.contactform1, .contcadd {
	float: left;
	font-size: 14px;
}
.contcadd {
	margin-top: 15px;
	font-family: 'latoregular';
	margin: 10px 13px 12px 116px;
	font-family: 'latoregular';
	line-height: 28px;
	font-size: 15px;
}
.contcadd p {
	padding: 5px;
}
.contcadd p a {
	color: #ff6600;
}
.contactterm {
	width: 1100px;
	margin: 0 auto;
	line-height:25px;
}
.contactterm p {
	font-family: 'latoregular';
	font-size: 14px;
	margin: 8px 0;
}
.contcadd p img {
	margin-right: 5px;
}
.contactform1
{
width:50%;
border-right:1px solid #ccc;
}
.contactform1 ul {
	list-style: none;
	margin: 0px;
	font-family: 'latoregular';
	padding: 0;
}
.contactform1 ul li {
	margin: 10px 0;
}
.contactform1 ul li input {
	border: 0;
	outline: 0;
	margin-top: 8px;
	margin-left: 5px;
	width: 350px;
	height: 22px;
	font-family: 'latoregular';
}
.contactform1 ul li .controw {
	color: #999;
	width: 400px;
	height: 35px;
	font-family: 'latoregular';
	padding-left: 5px;
	border: 1px solid #ccc;
	border-radius: 2px;
}
.conttextarea {
	width: 402px;
	border: 1px solid #ccc;
	color: #999;
	padding-left: 3px;
}
.contactform1 ul li textarea {
	width: 381px;
	resize: none;
	height: 100px;
	font-family: 'latoregular';
	outline: none;
	border: 0;
	border-radius: 2px;
	padding-left: 5px;
}
.contactform1 ul li input[type="submit"] {
	width: 120px;
	height: 30px;
	text-transform: uppercase;
	background: #ff821d;
	border: 1px solid #ff6600;
	cursor: pointer;
	font-family: 'latobold';
	color: #fff;
	margin-bottom: 10px;
	transition: all .3s ease-in-out;
	-webkit-transition: all .3s ease-in-out;
	border-radius: 2px;
}
.contactform1 ul li input[type="submit"]:hover {
	background: #ff6600;
	color: #fff;
}
.contactform1 p {
	font-family: 'latoregular';
}
.captch input[type="text"] {
	width: 285px;
	outline: none;
	resize: none;
	height: 33px;
	border: 1px solid #ccc;
	transition: all ease-in-out 0.3s;
	border-radius: 2px;
}
.captch input[type="text"]:focus {
	box-shadow: 0 0 2px #ff6600;
}
.gmap {
	width: 1100px;
	margin: 0px auto;
	margin-top: 10px;
}
.gmap iframe {
	border-radius: 5px;
}
/* Contact us styles end*/
/* my account styles start */
.myaccountdiv {
	width: 70%;
}
.myaccounttop {
	padding: 10px;
}
.myaccounttop .myaccountlink {
	background: #f5f5f5;
	padding:9px 22px 9px 22px;
	cursor:pointer;
	font-family: 'latoregular';
	color: #000;
	text-transform: uppercase;
	background: #ff821d;
	text-align: center;
	background: #ff821d;
	text-align: center;
	border: 1px solid #ff6600;
	font-size: 14px;
	color: #FFFFFF;
}
.myaccounttop .myaccountlinkhover {
	background: #ff821d;
	color: #fff;
}
.myaccount a
{
margin-left:5px;
}
.myaccounttop a:hover {
	background: #ff821d;
	color: #fff;

}
#middlebg_inner {
	margin-top: 10px;
	margin-left: 20px;
}
.regtitiel {
	font-size: 16px;
	color: #000;
	text-decoration: underline;
	font-family: 'latoregular';
	margin-bottom: 10px;
}
.paypalbutton {
	margin: 10px 0;
	height: 32px;
	text-transform: uppercase;
	background: #ff821d;
	border: 1px solid #ff6600;
	cursor: pointer;
	font-family: 'latobold';
	color: #fff;
	transition: all .3s ease-in-out;
	-webkit-transition: all .3s ease-in-out;
	border-radius: 2px;
}
#proupd {
	color: #fff;
	font-size: 16px;
	font-family: 'latobold';
	width: 190px;
	background: #ff6600;
	text-align: center;
	padding: 5px;
	border-radius: 3px;
	transition: all ease-in-out 0.3s;
}
#proupd1 {
	color: #fff;
	font-size: 16px;
	font-family: 'latobold';
	width: 220px;
	background: #093;
	text-align: center;
	padding: 5px;
	border-radius: 3px;
	transition: all ease-in-out 0.3s;
}
#proupderror {
	color: #fff;
	font-size: 16px;
	font-family: 'latobold';
	width: 220px;
	background: #900;
	text-align: center;
	padding: 5px;
	border-radius: 3px;
}
/* my account styles end */
/* popup start*/
#element_to_pop_up {
	background-color: #fff;
	border-radius: 5px;
	color: #000;
	display: none;
	padding: 20px;
	min-width: 400px;
	min-height: 180px;
	box-shadow: 0px 0px 10px #fff;
}
.b-close {
	cursor: pointer;
	position: absolute;
	right: -30px;
	top: -30px;
	width: 48px;
	height: 48px;
	background: url(../images/close.png) no-repeat center center;
}
#element_to_pop_up1 {
	background-color: #fff;
	border-radius: 5px;
	color: #000;
	display: none;
	padding: 20px;
	min-width: 400px;
	top: 50px !important;
	min-height: 180px;
	box-shadow: 0px 0px 10px #fff;
}
#element_to_pop_up4 {
	background-color: #fff;
	border-radius: 5px;
	color: #000;
	display: none;
	padding: 20px;
	min-width: 400px;
	top: 50px !important;
	min-height: 180px;
	box-shadow: 0px 0px 10px #fff;
}
#element_to_pop_up5 {
	background-color: #fff;
	border-radius: 5px;
	color: #000;
	display: none;
	padding: 20px;
	min-width: 400px;
	top: 50px !important;
	min-height: 180px;
	box-shadow: 0px 0px 10px #fff;
}

.b-close1 {
	cursor: pointer;
	position: absolute;
	right: -30px;
	top: -30px;
	width: 48px;
	height: 48px;
	background: url(../images/close.png) no-repeat center center;
}
#element_to_pop_up2 {
	background-color: #fff;
	border-radius: 5px;
	color: #000;
	display: none;
	padding: 20px;
	min-width: 400px;
	top: 50px !important;
	min-height: 180px;
	box-shadow: 0px 0px 10px #fff;
}
.b-close2 {
	cursor: pointer;
	position: absolute;
	right: -30px;
	top: -30px;
	width: 48px;
	height: 48px;
	background: url(../images/close.png) no-repeat center center;
}
#element_to_pop_up3 {
	background-color: #fff;
	border-radius: 5px;
	color: #000;
	display: none;
	padding: 20px;
	min-width: 400px;
	top: 50px !important;
	min-height: 180px;
	box-shadow: 0px 0px 10px #fff;
}
.b-close3 {
	cursor: pointer;
	position: absolute;
	right: -30px;
	top: -30px;
	width: 48px;
	height: 48px;
	background: url(../images/close.png) no-repeat center center;
}
#element_to_pop_upss {
	background-color: #fff;
	border-radius: 5px;
	color: #000;
	display: none;
	padding: 20px;
	min-width: 400px;
	top: 50px !important;
	min-height: 180px;
	box-shadow: 0px 0px 10px #fff;
}
.b-closess {
	cursor: pointer;
	position: absolute;
	right: -30px;
	top: -30px;
	width: 48px;
	height: 48px;
	background: url(../images/close.png) no-repeat center center;
}

/* popup end*/
.forgetpassform {
	list-style: none;
	margin: 0;
	padding: 0;
	width: 29%;
}
.changepass_column {
	width: 60%;
}
/*cart page start*/
.loginform table
{
	font-family: 'latoregular';
	font-size:14px;
	margin-bottom:10px;

}
.loginform table tr
{
	padding:30px 10px;


	}
.loginform .carthead
{


	font-family: 'latobold';
	color:#fff;
	background:#222;
	padding-top:4px;
	padding-bottom:4px;

	font-size:14px;
}
.loginform table td input[type="text"]
{
	border:0;
	padding:5px;
	border:1px solid #ccc;
	outline:0;
}
.loginform table .proddet
{
	color:#000;
	  font-weight: bold;
	}
.loginform table tr:hover
	{
	}
.loginform table tr td .editcart
{
	background:#eee;
	  padding: 6px 9px;
	  color:#222;

	}
.loginform table tr td .delcart
{
	  padding: 7px 9px;
	  background:#222;
	  color:#fff;
	  transition:all ease-in-out 0.3s;
}
.loginform table tr td.continuesho a
{
	background: #222;
  padding: 10px 14px;
  font-size: 12px;
    text-align: center;
  white-space: nowrap;
  color: #fff;
  -webkit-transition: all .3s linear;
  border-radius:2px;
	}
	.continuesho1
	{
	background: #222;
  	padding: 8px 14px;
    font-size: 12px;
 	text-align: center;
  	white-space: nowrap;
  	color: #fff;
  	-webkit-transition: all .3s linear;
 	 margin-left:5px;
	}
	.loginform table tr td.continuesho a:hover
	{
	  background: #ff6600;
	  color: #fff;
	}
	.loginform table tr td .delcart:hover
	{
	background:#ff6600;
	color:#fff;
	}
/*cart popup*/
.popup{
	position:fixed;
	width:100%;
	height:100%;
	top:0px;
	left:0px;
	background:rgba(0,0,0,0.5);
	z-index:1;
}
.add_bg
{
	cursor:pointer;
}
.popup_inner{
	padding:2%;
	border-radius:6px;
	position:fixed;
	width:300px;
	left:37%;
	top:30%;
	background:#fff;
}
.popup_title{
	font-weight:bold;
	text-align:center;
	font-size:16px;
	}
.close{
	position: absolute;
	top: -9px;
	right: -11px;
	background: #fff;
	border-radius: 16px;
	height: 30px;
	cursor:pointer;
	}
.checktotal1
{
  margin-top: -6px;
  text-transform: uppercase;
  background: #ff821d;
  border: 1px solid #ff6600;
  cursor: pointer;
  font-family: 'latobold';
  color: #fff;
  padding:15px;
  margin-bottom: 10px;
  transition: all .3s ease-in-out;
  -webkit-transition: all .3s ease-in-out;
  border-radius: 2px;
  float:right;
}
.checktotal1 a
{
color:#fff;
text-decoration:none;
}

.checktotal2
{
width:212px;
  text-transform: uppercase;
  background: #ff821d;
  border: 1px solid #ff6600;
  cursor: pointer;
  font-family: 'latobold';
  color: #fff;
  padding:15px;
  margin: 35px;
  transition: all .3s ease-in-out;
  -webkit-transition: all .3s ease-in-out;
  border-radius: 2px;

}
.checktotal2:hover
{
background: #ff6600;
color: #fff;
}

.carttotal
{
	color:#000;
	font-size:15px;
}
.checktotal1:hover
{
background: #ff6600;
  color: #fff;
}
/* cart popup end */
.emptycart1
{
text-transform: capitalize;
border-top: 3px solid #ff6600;
padding: 1em 1em 1em 1.5em;
margin: 0px 0px;
position: relative;
border-bottom-left-radius: 4px;
border-bottom-right-radius: 4px;
background: #FCFBFC;
background: -webkit-gradient(linear, left top, left bottom, from(#FCFBFC), to(#F7F6F7));
background: -webkit-linear-gradient(#FCFBFC, #F7F6F7);
background: -moz-linear-gradient(center top, #fcfbfc 0%, #f7f6f7 100%);
background: -moz-gradient(center top, #fcfbfc 0%, #f7f6f7 100%);
color: #000;
list-style: none outside;
text-shadow: 0 1px 0 #FFF;
width: auto;
-webkit-box-shadow: inset 0 -2px 6px rgba(0, 0, 0, 0.05), inset 0 -2px 30px rgba(0, 0, 0, 0.015), inset 0 1px 0 #FFF, 0 1px 2px rgba(0, 0, 0, 0.3);
box-shadow: inset 0 -2px 6px rgba(0, 0, 0, 0.05), inset 0 -2px 30px rgba(0, 0, 0, 0.015), inset 0 1px 0 #FFF, 0 1px 2px rgba(0, 0, 0, 0.3);
font-size: 14px;
margin-top:20px;
margin-bottom:20px;





	}
.emptycart1 a
{
	color:#000;

	}
/*cart page end*/

/*
left list
*/
.leftlist
{
border:solid 1px #ececec;
width:200px;
float:left;
}
.rightbanner
{
border:solid 1px #ececec;
width:200px;
float:left;
}
.middelproduct
{
width:674px;
padding:0px 10px 0px 10px;
float:left;
}
.categoryhead
{
padding-top:6px;
padding-bottom:6px;
text-align:center;
text-transform: uppercase;
background: #ff821d;
border: 1px solid #ff6600;
font-family: 'latobold';
color: #fff;
border-radius: 4px;
}

.leftlistingp
{
min-height:100px;
}
.leftlisting{
height:200px;
overflow:auto;
}
.leftlisting1{
height:100px;
margin-bottom:15px;
overflow:auto;
}

.leftlisting ul
{
padding:0px;
margin:0px;
margin-top:8px;
margin-bottom:5px;

}
.leftlisting ul  li
{
padding:0px;
margin:0px;
list-style:none;
font-size: 12px;
font-family: 'latoregular';
color: #000000;
text-transform:capitalize;
text-transform:uppercase;
padding:3px 0px 2px 22px;
border: 1px solid rgba(0,0,0,0);
}
.leftlisting ul  li:hover
{
border: 1px solid #ff6600;
}
.leftlisting ul  li span
{
padding:0px 0px 0px 14px;
}
.singleimage
{
width:460px;
float:left;
}
.singledesc
{
width:48%;
padding:0px 20px 20px 20px;
float:left;
font-size:14px;
font-family: 'latoregular';
}

.singledesc table td {
  padding: 10px 0px 0px 0px;
}
.singledesc table span
{
font-family: 'latobold';
}
.bannerproduct
{
border:solid 1px #ccc;
width:100%; height:200px;
margin-bottom:10px;
}
.midtab
{
width:100%;
border:solid 1px #ccc;
height:30px;
margin-bottom:10px;
}
.protab
{
float: left;
text-align: center;
font-family: 'latoregular';
padding: 8px 36px 7px 35px;
}
.protab:hover
{
background:#ff821d;
color:#FFFFFF;
font-family: 'latoregular';
}
.rightbannerin
{
margin-bottom:20px;
}
.rightbannerin img
{
border-bottom:1px solid #ccc;
border-top:1px solid #ccc;
}
.dscript
{
font-family: 'latoregular';
text-align: justify;
width:98%;
margin:0px auto;
letter-spacing: normal;
line-height:20px;
font-size:14px;
}
.headeer1
{
text-align:center;
font-family: 'latobold';
float:left;
width:120px;
padding-left:20px;
text-align: left;
letter-spacing: normal;
word-spacing: 3px;
text-transform:uppercase;
}
.headeer2
{
margin:8px;
text-align:center;
font-family: 'latobold';
text-align: left;
letter-spacing: normal;
word-spacing: 3px;
text-transform:uppercase;
}

.headeer
{
text-align:center;
font-family: 'latoregular';
margin-top:4px;
margin-Bottom:4px;
text-align: left;
border-bottom: 1px solid #E5E5E5;
letter-spacing: normal;
word-spacing: 3px;
padding-bottom:7px;
text-transform:uppercase;
}
.singledesc table
{
width:100%;
}
.desc
{
text-decoration: none;
font-size: 14px;
font-family: 'latoregular';
color: #000000;
}
.fabMenuMainCatLink:hover
{
border-bottom: 2px solid #000;
border-top: 2px solid #000;
font-family: 'latoregular';
position: relative;
background: url("../images/arrow.png") no-repeat bottom center;
}
.fabMenuMainCatSel {
	border-bottom: 2px solid #000;
	border-top: 2px solid #000;
	font-family: 'latoregular';
	position: relative;
	background: url("../images/arrow.png") no-repeat bottom center;
}
.fabMenuMainCatItmCont
{
transition: all 0.3s ease-in-out;
}
.fabMenu{
transition: all 0.3s ease-in-out;
}
.leftlisting1 ul
{
padding:0px;
margin:0px;
margin-top:3px;
}
.leftlisting1 ul  li
{
padding:0px;
margin:0px;
list-style:none;
}
.leftlisting1 ul  li a
{
font-family: 'latoregular';
color: #000000;
text-transform:uppercase;
padding:3px 0px 2px 16px;
display:block;
font-size: 12px;
text-decoration:none;
border:1px solid rgba(0,0,0,0);
}
.leftlisting1 ul  li a:hover
{
border:1px solid #ff6600;
}
.leftlisting1 ul  li span
{
padding:0px 0px 0px 14px;
}
.pricebutton
{
font-family: 'latoregular';
font-weight:bold;
width:30px;
height:32px;
}
.pricetext
{
width:40px;
height:32px;
padding-left:1px;
}
.wistlist
{
width:185px;
text-transform: uppercase;
background: #ff821d;
text-align:center;
padding:8px 0px 8px 0px;
margin:0px 0px 0px 0px;
border: 1px solid #ff6600;
cursor: pointer;
font-family: 'latobold';
float:left;
color: #fff;
transition: all .3s ease-in-out;
-webkit-transition: all .3s ease-in-out;
border-radius: 2px;
margin-right:20px;
margin-top:20px;
}
.wistlist:hover
{
background: #ff6600;
color: #fff;
}
.wistlist1 {
width: 220px;
text-transform: uppercase;
background: #ff821d;
text-align: center;
padding: 8px 0px 8px 0px;
border: 1px solid #ff6600;
cursor: pointer;
font-size: 13px;
font-family: 'latobold';
float: left;
color: #fff;
transition: all .3s ease-in-out;
-webkit-transition: all .3s ease-in-out;
border-radius: 2px;
margin-right: 22px;
 margin-top: 15px;
}
.wistlist1 a
{
color:#FFFFFF !important;
text-decoration:none;
}
.wistlist1:a hover
{
text-decoration:none !important;
background: #ff6600;
color:#FFFFFF !important;
}
a:hover
{
text-decoration:none!important;
}

.wistlist1:hover
{
background: #ff6600;
color: #fff;
}
.wistlist2
{
text-transform: uppercase;
float:left;
margin-right:27px;
margin-top:20px;
}
.wistlist2:hover
{
background: #ff6600;
color: #fff;
}
.wistlist2 a
{
width:174px !important;
transition: all .3s ease-in-out;
-webkit-transition: all .3s ease-in-out;
border-radius: 3px;
background: #ff821d;
text-align:center;
border: 1px solid #ff6600;
cursor: pointer;
font-family: 'latobold';
border:solid 1px;
text-transform: uppercase;
float:left;
color: #fff;
text-decoration:none;
transition: all .3s ease-in-out;
-webkit-transition: all .3s ease-in-out;
padding: 9px 30px 9px 40px;
}
.wistlist2 a:hover
{
background: #ff6600;
color: #fff;
text-decoration:none;
}

.sliderwish
{
margin:20px 0px 20px 0px;
}
.timetoship
{
text-decoration: none;
font-size: 14px;
width:46%;
float:left;
font-family: 'latoregular';
color: #000000;
margin:20px 0px 0px 0px;
}
.timetoship span
{
color:#ff6600;
margin-left:20px;
}
.sccessories
{
text-decoration: none;
font-size: 14px;
font-family: 'latoregular';
color: #000000;
margin:20px 0px 0px 0px;
}
.inass
{
float:left;
font-family: 'latobold';
width:130px;
}
.outass
{
width:74%;
margin:0px 0px 0px 30px;
padding:0px 0px 0px 0px;
float:left;
}
.outass span
{
padding:0px 9px 0px 9px;
}
.socialicon
{
margin-top:10px;
margin-left:150px;
width:116px;
}
.socialicon table
{
width:100%;
}
.single_img img
{
border:1px solid #ccc;
padding:3px;
width:100%;
}
.pagemid
{
width:100%;
}
.imagegallary
{
width:245px;
margin:14px 14px 30px 14px;
float:left;
}
.imagein img
{
width:245px;
height:270px;
}
.imagein
{
width:100%;
height:270px;}

.imagegallary:hover {
cursor: pointer;
 -webkit-box-shadow: 0px -1px 5px 0px rgba(0, 0, 0, 0.75);
-moz-box-shadow: 0px -1px 5px 0px rgba(0, 0, 0, 0.75);
box-shadow: 0px -1px 5px 0px rgba(0, 0, 0, 0.75);
}
.imagetxt
{
text-align:center;
padding:6px 0px 10px 0px;
font-size: 14px;
font-family: 'latoregular';
color: #000000;
text-transform:uppercase;
}
.mes
{
text-transform: capitalize;
border-top: 3px solid #ff6600;
padding: 1em 1em 1em 1.5em;
margin: 0px 0px;
position: relative;
border-bottom-left-radius: 4px;
border-bottom-right-radius: 4px;
background: #FCFBFC;
background: -webkit-gradient(linear, left top, left bottom, from(#FCFBFC), to(#F7F6F7));
background: -webkit-linear-gradient(#FCFBFC, #F7F6F7);
background: -moz-linear-gradient(center top, #fcfbfc 0%, #f7f6f7 100%);
background: -moz-gradient(center top, #fcfbfc 0%, #f7f6f7 100%);
color: #000;
list-style: none outside;
text-shadow: 0 1px 0 #FFF;
width: auto;
-webkit-box-shadow: inset 0 -2px 6px rgba(0, 0, 0, 0.05), inset 0 -2px 30px rgba(0, 0, 0, 0.015), inset 0 1px 0 #FFF, 0 1px 2px rgba(0, 0, 0, 0.3);
box-shadow: inset 0 -2px 6px rgba(0, 0, 0, 0.05), inset 0 -2px 30px rgba(0, 0, 0, 0.015), inset 0 1px 0 #FFF, 0 1px 2px rgba(0, 0, 0, 0.3);
font-size: 14px;
margin-top:20px;
margin-bottom:20px;


}
.mes span
{
color:#ff6600;
}
.backtomenu {
width: 178px;
float: right;
}
.backtomenu a {
padding: 5px 10px;
color: #FFF;
font-size: 12px;
text-align: center;
border-radius: 30px;
text-transform: uppercase;
background: #ff821d;
border: 1px solid #ff6600;
cursor:pointer;
font-family: 'latoregular';
transition: all 0.3s ease-in-out;
}
.conmid
{
margin-top:20px;
margin-bottom:20px;
}
.wcalss a
{
text-decoration:none;
color:#FFFFFF;
}
.serin
{
float:right;
}
.serin a
{
text-decoration: none;
}
.checkoutshipping {
padding: 15px;
padding-left:34px;
font-size: 14px;
color: #000;
font-weight: bold;
}
.contactform
{
width:100%;
min-height:200px;
}


.form_rowin {
	margin-bottom: 0px;
	margin-top:30px;
}
.form_row1 {
	margin-bottom: 30px;
	margin-left:-17px;
}
.form_label {
	color: #282828;
	font-size: 14px;
	width: 100px;
	margin-top: 8px;
	float: left;
	font-family: 'latoregular';
}
.changepasslabel {
	color: #282828;
	font-size: 14px;
	width: 200px;
	margin-top: 8px;
	float: left;
}
.form_input_text {
	width: 300px;
	padding: 10px 5px;
	float: left;
	font-size: 14px;
	color: #282828;
	border: #CFCFCF 1px solid;
	border-radius: 3px;
font-family: 'latoregular';
}
.form_input_select {
	width: 302px;
	height:40px;
	padding: 10px 5px;
	float: left;
	font-size: 12px;
	color: #646360;
	line-height:32px;
	border: #CFCFCF 1px solid;
	border-radius: 3px;
}
.form_textarea {
	width: 300px;
	padding: 10px 5px;
	float: left;
	height: 85px;
	font-family: Arial;
	font-size: 12px;
	color: #646360;
	border: #CFCFCF 1px solid;
	border-radius: 3px;
	resize: none;
}
.register_right_columnin {
	float: left;
	width: 480px;
}
.checkoutshipping {
	width: 600px;
	padding-top: 7px;
	font-size: 14px;
	color: #646360;
	font-weight: bold;
}
.billingaddress, #shippingaddress {
	margin-top: 30px;
}
.checkoutshipping label {
	cursor: pointer;
}
.paypalbutton {
	cursor: pointer;
	padding: 6px 20px;
	font-family: 'latoregular';
	color: #fff;
	font-size: 14px;
	font-weight: bold;
	text-align: center;
	border-radius: 3px;
	text-transform: uppercase;
	transition: all 0.3s ease-in-out;
	margin-right: 10px;
	margin-left: 17px;
}
.regtitiel {
font-family: 'latoregular';
	font-size: 20px;
	color: #ea0c0c;
	width: 100%;
	margin-bottom: 10px;
	padding-bottom: 2px;
}
.register_left_column11 {
	float: left;
	width: 480px;
}
.changepass_column {
	width: 100%;
}
.filter
{
padding:10px 0px 0px 0px; float:right;
}
.filterclass
{
padding-top: 6px;
padding-bottom: 6px;
text-align: center;
text-transform: uppercase;
background: #ff821d;
border: 1px solid #ff6600;
color: #fff;
border-radius: 4px;
}
.regerror1
{
color:#F00;
font-size:12px;
margin:15px 0px 0px 16px;

}
.regerror
{
color:#F00;
font-size:12px;
margin:0px 0px 0px 20px;
}
.filterclass:hover
{
background:#ff6600;
}
.paging
{
}
.paging table span
{
background: #ff821d;
border: 1px solid #ff6600;
padding:4px 10px 4px 10px;

}
.paging table a
{
background: #ff821d;
border: 1px solid #ff6600;
padding:4px 10px 4px 10px;

}

.indexcsssmall1
{
font-size:13px;
color:#FFFFFF;
}
.indexcss
{
font-size:14px; color:#414141; font-weight:bold
}
.indexcss1
{
font-size:13px; color:#414141;font-weight:bold
}
.indexcsssmall
{
font-size:10px; color:#414141;
}
.indexcsssmall1
{
font-size:13px; color:#414141;
}

A.atozlinks:link {
	FONT-SIZE: 13px; COLOR:#FF0000; FONT-FAMILY: Verdana, Tahoma, Arial, ms sans serif; TEXT-DECORATION: none
}
A.atozlinks:visited {
	FONT-SIZE: 13px; COLOR: #FF0000; FONT-FAMILY: Verdana, Tahoma, Arial, ms sans serif; TEXT-DECORATION: none
}

A.atozlinks:hover {
	FONT-SIZE: 13px; COLOR: #fff; FONT-FAMILY: Verdana, Tahoma, Arial, ms sans serif; TEXT-DECORATION: underline
}



A.editlinks:link {
	FONT-SIZE: 13px; COLOR:#FF6600; FONT-FAMILY: Verdana, Vardana, Arial, Helvetica, sans-serif; TEXT-DECORATION: none; font-weight:normal;
}
A.editlinks:visited {
	FONT-SIZE: 13px; COLOR:#FF6600; FONT-FAMILY: Verdana, Vardana, Arial, Helvetica, sans-serif; TEXT-DECORATION: none; font-weight:normal;}

A.editlinks:hover {
	FONT-SIZE: 13px; COLOR: #fff; FONT-FAMILY: Verdana, Vardana, Arial, Helvetica, sans-serif; TEXT-DECORATION: underline;font-weight:normal;
}

A.editlinks1:link {
	FONT-SIZE: 13px; COLOR:#fff; FONT-FAMILY: Verdana, Vardana, Arial, Helvetica, sans-serif; TEXT-DECORATION: none; font-weight:normal;
}
A.editlinks1:visited {
	FONT-SIZE: 13px; COLOR:#fff; FONT-FAMILY: Verdana, Vardana, Arial, Helvetica, sans-serif; TEXT-DECORATION: none; font-weight:normal;}

A.editlinks1:hover {
	FONT-SIZE: 13px; COLOR: #fff; FONT-FAMILY: Verdana, Vardana, Arial, Helvetica, sans-serif; TEXT-DECORATION: underline;font-weight:normal;
}
.ourstore
{
margin-top:10px;
padding-bottom:50px;
}

.addour
{
margin-top: 15px;
height:25px;
font-family: 'latoregular';
font-size: 15px;
}
div.paginatio {
	padding:5px 8px 3px 8px;;
	font-family: 'latoregular';
	font-size:14px;
	color:#5b5b5b;
	margin-top:15px;
	margin-left:5px;
	cursor:pointer;

}
div.paginatio a {
	padding: 5px 8px 4px 9px;
	margin: 2px;
	font-family: 'latoregular';
	text-decoration: none; /* no underline */
	color: #414141;
	background: #ff821d;
border: 1px solid #ff6600;
}
div.paginatio a:hover, div.paginatio a:active {
	color:#fff;

}
div.paginatio span.current {
	padding: 2px 5px 2px 5px;
	margin: 2px;
	border: 1px solid #900;
	font-weight: bold;
	background-color: #900;
	color: #FFF;
}
div.paginatio span.disabled {
	padding: 2px 5px 2px 5px;
	margin: 2px;
	border: 1px solid #EEE;
	color: #DDD;
}
.load
{
width:150px;
padding:20px;
margin:0px auto;

}
.adbutton
{
text-transform: uppercase;
background: #ff821d;
text-align: center;
border: 1px solid #ff6600;
cursor: pointer;
font-family: 'latobold';
color: #fff;
transition: all .3s ease-in-out;
-webkit-transition: all .3s ease-in-out;
border-radius: 2px;
font-weight:bold;
width:30px;
height:32px;
}
.cusmeasurement
{
font-family: 'latobold';
padding:10px 0px 0px 0px;
}
.cusmeasurement table
{
font-family: 'latobold';
width:38%;
}
.cmes
{
font-family: 'latobold';
margin-top:5px;
}
.cat_description
{
width:96%;
background: #f5f5f5;
padding: 10px;
margin: 2px;
line-height:20px;
font-size: 13px;
text-align:justify;
font-family: 'latoregular';
color: #8b8b8b;
}
.shfrm
{
 transition: width 10s;
}
.sizechart
{
text-transform: uppercase;
background: #ff821d;
text-align: center;
padding: 2px 6px 2px 6px;
margin-left:4px;
border: 1px solid #ff6600;
cursor: pointer;
font-family: 'latoregular';
float: left;
color: #fff;
transition: all .3s ease-in-out;
-webkit-transition: all .3s ease-in-out;
border-radius: 2px;
}
.sizechart a
{
color:#FFFFFF;
font-family: 'latoregular';
text-decoration:none;
}
.sizechart a:hover
{
color:#FFFFFF;
text-decoration:none;
}
/*TABBING SYSTEM*/
.tabbing
{
margin:25px auto;
}
.uppertab
{
width:100%;
height:44px;
}
.lowertab
{
border:1px solid #dfdfdf;
width:100%;
background:#f9f9f9;
height:159px;
}
.lowertabl
{
border:1px solid #dfdfdf;
width:100%;
background:#f9f9f9;

}

.lowertab1
{
border:1px solid #dfdfdf;
width:100%;
background:#f9f9f9;
height:159px;
}

.buttontab
{
width: 185px;
text-transform: uppercase;
background: #ff821d;
text-align: center;
background: #ff821d;
text-align: center;
border: 1px solid #ff6600;
float:left;
font-family: 'latobold';
font-size:16px;
color:#FFFFFF;
margin-right:5px;
}
.buttontab:hover
{
background: #ff6600;
color: #fff;
cursor:pointer;
}
.tab1
{
width:210px;
padding: 10px 0px 10px 0px;
border:1px solid #dfdfdf;
cursor:pointer;
}
.tab2
{
width:210px;
padding: 10px 0px 10px 0px;
border:1px solid #dfdfdf;
cursor:pointer;
}
.tab3
{
width:210px;
padding: 10px 0px 10px 0px;
border:1px solid #dfdfdf;
cursor:pointer;
}
.cartab
{
float:left;
margin-top:18px;
margin-left:8px;
margin-right:5px;
}
.cartab1
{
float:left;
margin-top:18px;
margin-left:8px;
margin-right:5px;
}

.tabr
{
margin-right:0px;
}
.tabtxt
{
font-family: 'latoregular';
font-size:14px;
text-transform:uppercase;
padding-bottom:4px;
}
.tabtxt span
{
color:#FF0000;
}
.tabselect
{
width:100%;
height:35px;
font-family: 'latoregular';
font-size:14px;
height:42px;
color:#000000;
padding-left:15px;
background:transparent;
}
.buttonbat
{
width:200px;
font-family: 'latoblack';
text-align:center;
font-size:14px;
color:#FFFFFF;
margin:13px auto;
 height:45px;
 cursor:pointer;
 border:#000000 2px solid;
background: #45c7b5;
}
.searchbut
{
width:202px;
margin:0px auto;
}
.prodetail
{
height:25px;
}
.colnam
{
text-align:left;
font-size:14px;
float:left;
margin-left:10px;
}
.as
{
float:left;
width:30%;
}
#showdatacart
{margin: 4px 0;
width:70px;
text-transform: uppercase;
background: #ff821d;
font-size:11px;
text-align:center;
border: 1px solid #ff6600;
cursor: pointer;
color: #fff;
transition: all .3s ease-in-out;
-webkit-transition: all .3s ease-in-out;
border-radius: 2px;
}
.showdata
{
}
.slidediv
{
}
.view1
{
float:right;
text-transform: uppercase;
background: #ff821d;
text-align: center;
font-size:14px;
padding: 2px 6px 2px 6px;
margin-right: 4px;
border: 1px solid #ff6600;
font-family: 'latoregular';
color: #fff;
border-radius: 2px;
}
.ban_sale
{
display:none;
padding:2px 2px 2px 2px;
text-align: center;
text-transform: uppercase;
background: #ff821d;
border: 1px solid #ff6600;
font-family: 'latoregular';
color: #fff;
position:absolute; top:0px;
}
.ban_sale1
{
padding:5px 10px 5px 10px;
text-align: center;
text-transform: uppercase;
background: #ff821d;
border: 1px solid #ff6600;
font-family: 'latoregular';
color: #fff;
font-size:20px;
position:absolute; top:0px;
}
/*TABBING SYSTEM END*/
.maincat
{
color:#ff6600;
}
.maincat a
{
font-size:16px;
font-family: 'latobold';
color:#ff6600;
}
.maincat a :hover
{
font-size:16px;
font-family: 'latobold';
color:#ff821d;
padding-top:3px;
padding-bottom:3px;
}
.submaincat
{
font-size:15px;
font-family: 'latoregular';
color:#ff6600;

}
.submaincat a
{
line-height:26px;
}
.submaincat a:hover
{
color:#ff6600;
}
.submaincat1
{
font-size:15px;
font-family: 'latoregular';
height:16px;
color:#ff6600;
padding-left:20px;
height:24px;
}
.submaincat1 a
{

}
.submaincat1 a:hover
{
color:#ff6600;
}

#allproduct
{
width: 100%;
padding-bottom:20px;
background: #f9f9f9;
}
.loginform table tr td .acart {
padding: 7px 4px;
background: #222;
width:22px;
text-align:center;
color: #fff;
transition: all ease-in-out 0.3s;
}
.loginform table tr td .acart:hover {
 background: #ff6600;
color: #fff;
}
.pagebut
{
float:left;
}
.pagebut a
{
text-transform: uppercase;
background: #ff821d;
text-align: center;
padding: 4px 0px 4px 0px;
border: 1px solid #ff6600;
cursor: pointer;
font-family: 'latobold';
float: left;
color: #fff;
transition: all .3s ease-in-out;
-webkit-transition: all .3s ease-in-out;
border-radius: 2px;

width:100px;
}
.pagebut a:hover
{
background: #ff6600;
color: #fff;
}

.pagebut1 a:hover
{
background: #ff6600;
color: #fff;
}
.pagebut1
{
float:right;
}
.pagebut1 a
{
width:100px;
text-transform: uppercase;
background: #ff821d;
text-align: center;
padding: 4px 0px 4px 0px;
border: 1px solid #ff6600;
cursor: pointer;
font-family: 'latobold';
float: left;
color: #fff;
transition: all .3s ease-in-out;
-webkit-transition: all .3s ease-in-out;
border-radius: 2px;

}
.pagebut1 a:hover
{
background: #ff6600;
color: #fff;
}
.pagination_class
{
width:100%;
margin:20px;
}
.pagination_class ul
{
width:100%;
}
.pagination_class ul li
{
list-style:none;
float:left;
display:block;
}
.pagination_class ul li a
{
margin:2px;
background:#f6f6f6;
border:1px solid #ccc;
padding: 6px 10px 5px 10px;
color:#000000;
border-radius:3px;
}
.inlogin
{
width:45%;
border: 1px solid #ff6600;
padding: 22px;
height: 321px;
border-radius: 3px;
float:left;
box-shadow: 3px 3px 1px #ff6600;
background: none repeat scroll 0 0 #fff;
}
.inlogin1
{
width:80%;
border: 1px solid #ff6600;
padding: 22px;
height: 321px;
margin:0px auto;
border-radius: 3px;
float:left;
box-shadow: 3px 3px 1px #ff6600;
background: none repeat scroll 0 0 #fff;
}
.inlogin1reg
{
	width:80%;
	border: 1px solid #ff6600;
	padding: 22px;
	margin:0px auto;
	border-radius: 3px;
	float:left;
	box-shadow: 3px 3px 1px #ff6600;
	background: none repeat scroll 0 0 #fff;
}

.resmain
{
width:100%;
min-height:100px;
margin-top:20px;
font-size:13px;
color: #000000;
}
.resmainlink a
{
text-decoration:none;
background:#ff821d;
line-height:30px;
color:#FFFFFF;
border-radius:4px;
padding:7px 50px 7px 40px;
}
.resmainlink a:hover
{
color:#000000;
}
.resdesc{
margin-top:7px;
margin-bottom:7px;
text-align:justify;
}
.ui-state-default, .ui-widget-content .ui-state-default, .ui-widget-header .ui-state-default
{
border-radius:10px;
}
.ui-slider-horizontal .ui-slider-range
{
background:#ccc!important;

}
.ca-wrapper {
width: 96%;
height: 100%;
margin: 0px auto;
position: relative;
}
.ca-wrapper1 {
width: 96%;
height: 100%;
margin: 0px auto;
position: relative;
}
.salebut a
{
width:8%;
text-transform: uppercase;
background: #000;
text-align: center;
margin:14px 0px 0px 0px ;
padding:4px;
font-size:16px;
border: 1px solid #ff6600;
cursor: pointer;
font-family: 'latobold';
float: left;
color: #fff;
transition: all .3s ease-in-out;
-webkit-transition: all .3s ease-in-out;
border-radius: 2px;
}
.salebut a:hover
{
color:#FFFFFF !important;
}
.loader {
	position: fixed;
	left: 0px;
	top: 0px;
	width: 100%;
	height: 100%;
	z-index: 9999;
	background:url(../images/loadingn.gif)50% 20% no-repeat rgb(249,249,249);
}
.checktotal_1 a
{
  text-transform: uppercase;
  background: #ff821d;
  border: 1px solid #ff6600;
  cursor: pointer;
  font-family: 'latobold';
  color: #fff;
  padding:12px 62px 12px 62px;
  text-align:center;
  transition: all .3s ease-in-out;
  -webkit-transition: all .3s ease-in-out;
  border-radius: 2px;
 }
.regbun
{
width:200px;
margin:115px auto;
}

.tbag
{
font-family: 'latobold';
font-size: 14px;
padding: 10px 0px 10px 0px;
text-transform: uppercase;
}
.reg_al
{
width:444px; float:right;
}
.reg_al a
{
color: #ff821d;
font-size: 16px;
}
.bcol a
{
text-align:right;
text-decoration:none;
font-size:15px;
text-align:right;
color:#ff6600;
padding:10px 10px;
}
.coupanclass
{
background: #222;
padding: 12px 14px;
font-size: 12px;
text-align: center;
white-space: nowrap;
color: #fff;
-webkit-transition: all .3s linear;
border-radius: 2px;
border:0px;
outline:none;
}
.coupanclass:hover
{
background: #ff6600;
color: #fff;
}
.coupantxt
{
height:39px;
width:200px;
padding-left:3px;
margin-left:5px;
}
.socialnet
{
height:50px;
border:solid 1px #FF0000;
}
.gplus
{
float:left;
width:15%;
}
.fb
{
width:15%;
float:left;
}
.pinit
{
width:15%;
float:left;
}
.bottonin
{
width:100%;
}
