/* line 180, ../sass/screen.sass */
.image-row {
  *zoom: 1;
  margin-bottom: 20px;
}
/* line 38, ../../../../.rvm/gems/ruby-1.9.3-p392/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/utilities/general/_clearfix.scss */
.image-row:after {
  content: "";
  display: table;
  clear: both;
}

/* line 184, ../sass/screen.sass */
.example-image-link {
  display: inline-block;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  -ms-border-radius: 4px;
  -o-border-radius: 4px;
  border-radius: 4px;
  border:solid 1px #CCC;
  -webkit-transition: all 0.1s ease-out;
  -moz-transition: all 0.1s ease-out;
  -o-transition: all 0.1s ease-out;
  transition: all 0.1s ease-out;
  opacity:0.9;
}
/* line 191, ../sass/screen.sass */
.example-image-link:hover {
  opacity:1;
}
.example-image-link img{
	border:none !important;
	margin:0 !important;
	}

/* line 194, ../sass/screen.sass */
.example-image {
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  -ms-border-radius: 2px;
  -o-border-radius: 2px;
  border-radius: 2px;
}
