
td {
	MARGIN-TOP: 0px; FONT-SIZE: 11px; MARGIN-BOTTOM: 0px; COLOR: #000000; FONT-FAMILY: Verdana, Tahoma, ms sans serif; 
}
.register {
	MARGIN-TOP: 0px; FONT-SIZE: 11px; MARGIN-BOTTOM: 0px; COLOR: #828080; FONT-FAMILY: Verdana, Tahoma, ms sans serif; 
}
.register3 {
	MARGIN-TOP: 0px; FONT-SIZE: 12px; MARGIN-BOTTOM: 0px; COLOR: #828080; FONT-FAMILY: Verdana, Tahoma, ms sans serif; 
}
.register2 {
	MARGIN-TOP: 0px; FONT-SIZE: 12px; MARGIN-BOTTOM: 0px; COLOR: #828080; FONT-FAMILY: Verdana, Tahoma, ms sans serif; 
}
.register1 {
	MARGIN-TOP: 0px; FONT-SIZE: 12px; MARGIN-BOTTOM: 0px; COLOR: #993327; FONT-FAMILY: Verdana, Tahoma, ms sans serif; cursor:pointer;border-bottom:1px dashed #828080;float:left
}

.indexcss1
{
font-size:11px; color:#a60000; font-weight:bold
}
.indexcsssmall
{
font-size:10px; color:#FF0000;
}
.indexcsssmall1
{
font-size:11px; color:#a60000;
}

A.editlinks1:link {
	FONT-SIZE: 11px; COLOR:#a60000; FONT-FAMILY: Verdana, Vardana, Arial, Helvetica, sans-serif; TEXT-DECORATION: none; font-weight:normal;
}
A.editlinks1:visited {
	FONT-SIZE: 11px; COLOR:#a60000; FONT-FAMILY: Verdana, Vardana, Arial, Helvetica, sans-serif; TEXT-DECORATION: none; font-weight:normal;}

A.editlinks1:hover {
	FONT-SIZE: 11px; COLOR: #000000; FONT-FAMILY: Verdana, Vardana, Arial, Helvetica, sans-serif; TEXT-DECORATION: underline;font-weight:normal;
}

.header_tr_bg{
	background-color:#A3C4E4;
}

a {
	color: #000000;
	text-decoration: none;
}
a:hover {
	color : #30569D;
	text-decoration : underline;
}
a:active {
	color : #333333;
	text-decoration : underline;
}

/* standard form style table */
table.adminlist tr.row1 {
	background-color: #FFF;
	text-align: left;
}
table.adminlist td {
	border-bottom: 1px solid #e5e5e5;
	padding: 4px;
}
table.adminlist tr.row1:hover {
	background-color: #f1f1f1;
}
/* standard form style table */
.message {
	font-family : "Trebuchet MS", Vardana, Arial, Helvetica, sans-serif;
	font-weight: bold;
	font-size : 14px;
	color : #c30;
	text-align: center;
}
#mendatory
{
	color:#FF0000;
	font-size:12px;
}

.tab1 td{ text-align:left;

}