/* CSS Document */
body {
	margin-left: 0px;
	margin-top: 0px;
	margin-right: 0px;
	margin-bottom: 0px;
}
A.sideMenu:link {
	FONT-SIZE: 11px; COLOR: #ffffff; FONT-FAMILY: Verdana, Tahoma, Arial, ms sans serif; TEXT-DECORATION: none
}
A.sideMenu:visited {
	FONT-SIZE: 11px; COLOR: #5F3907; FONT-FAMILY: Verdana, Tahoma, Arial, ms sans serif; TEXT-DECORATION: none
}

A.sideMenu:hover {
	FONT-SIZE: 11px; COLOR: #000000; FONT-FAMILY: Verdana, Tahoma, Arial, ms sans serif; TEXT-DECORATION: underline
}
.mainframetitle{
FONT-SIZE: 14px; COLOR: #ffffff; FONT-FAMILY: Verdana, Tahoma, Arial, ms sans serif; TEXT-DECORATION: none
}
.mainframeinsidetext{
FONT-SIZE: 11px; COLOR: #ffffff; FONT-FAMILY: Verdana, Tahoma, Arial, ms sans serif; TEXT-DECORATION: none;
}
td {
	MARGIN-TOP: 0px; FONT-SIZE: 11px; MARGIN-BOTTOM: 0px; COLOR: #000000; FONT-FAMILY: Verdana, Tahoma, ms sans serif; 
}

.windowTitle {
	MARGIN-TOP: 0px; FONT-SIZE: 11px; MARGIN-BOTTOM: 0px; COLOR: #FFFFFF; FONT-FAMILY: Verdana, Tahoma, ms sans serif; font-weight:bold
}

.brdr
{border-top:#ffffff 1px solid;border-bottom:#ffffff 1px solid;border-left:#ffffff 1px solid;border-right:#ffffff 1px solid;
}
.brdrLayer
{border-top:#A7A9AC 2px solid;border-bottom:#A7A9AC 2px solid;border-left:#A7A9AC 2px solid;border-right:#A7A9AC 2px solid;
}
.brdrOuter
{border-top:#D4D0C8 2px solid;border-bottom:#D4D0C8 2px solid;border-left:#D4D0C8 2px solid;border-right:#D4D0C8 2px solid;
}
.brdrCell
{border-top:#ffffff 2px solid;border-bottom:#000000 2px solid;border-left:#ffffff 2px solid;border-right:#000000 2px solid; font-weight:bold;
}
.brdrCellData
{border-bottom:#C0C0C0 1px solid;border-left:#C0C0C0 1px solid; padding-left:2px
}



/* styles for input Controls */
INPUT.standardbutton {
	BORDER-RIGHT: #666666 1px solid; PADDING-RIGHT: 1px; BACKGROUND-POSITION: left center; BORDER-TOP: #666666 1px solid; PADDING-LEFT: 1px; FONT-WEIGHT: bold; FONT-SIZE: 11px; PADDING-BOTTOM: 1px; BORDER-LEFT: #666666 1px solid; CURSOR: auto; COLOR: #000000; PADDING-TOP: 3px; BORDER-BOTTOM: #666666 1px solid; BACKGROUND-REPEAT: no-repeat; FONT-FAMILY: Verdana, Vardana, Arial, Helvetica, sans-serif; BACKGROUND-COLOR: #E7E4DC
}
.myInput {
	BORDER-RIGHT: #666666 1px solid;
	BACKGROUND-POSITION: left center;
	BORDER-TOP: #666666 1px solid;
	FONT-SIZE: 10px;
	BORDER-LEFT: #666666 1px solid;
	COLOR: #000000;
	BORDER-BOTTOM: #666666 1px solid;
	FONT-FAMILY: Verdana, Vardana, Arial, Helvetica, sans-serif;
	BACKGROUND-COLOR: #ffffff;
}

.mySelectBox {
	BORDER-RIGHT: #666666 1px solid;
	BACKGROUND-POSITION: left center;
	BORDER-TOP: #666666 1px solid;
	FONT-SIZE: 11px;
	BORDER-LEFT: #666666 1px solid;
	COLOR: #000000;
	BORDER-BOTTOM: #666666 1px solid;
	FONT-FAMILY: Verdana;
	BACKGROUND-COLOR: #ffffff; width:180px;
}

.myTextarea {
	BORDER-RIGHT: #666666 1px solid;
	BACKGROUND-POSITION: left center;
	BORDER-TOP: #666666 1px solid;
	FONT-SIZE: 11px;
	BORDER-LEFT: #666666 1px solid;
	COLOR: #000000;
	BORDER-BOTTOM: #666666 1px solid;
	FONT-FAMILY: Verdana;
	BACKGROUND-COLOR: #ffffff;	
}

.myDateInput {
	BORDER-RIGHT: #666666 1px solid;
	BACKGROUND-POSITION: left center;
	BORDER-TOP: #666666 1px solid;
	FONT-SIZE: 11px;
	BORDER-LEFT: #666666 1px solid;
	COLOR: #000000;
	BORDER-BOTTOM: #666666 1px solid;
	FONT-FAMILY: Verdana;
	BACKGROUND-COLOR: #ffffff;
	width: 80px;
}


input.button
{
	BORDER-RIGHT: #053E74 1px solid;
	BORDER-left: #053E74 1px solid;
	BORDER-top: #053E74 1px solid;
	BORDER-bottom: #053E74 1px solid;
	background-image:url(../images/button-BG.gif);	
	font-family: Verdana, Vardana, Arial, Helvetica, sans-serif;
	font-size: 12px;
}
.indexcss
{
font-size:14px; color:#a60000; font-weight:bold
}
.indexcss1
{
font-size:11px; color:#a60000; font-weight:bold
}
.indexcsssmall
{
font-size:10px; color:#FF0000;
}
.indexcsssmall1
{
font-size:11px; color:#a60000;
}

A.atozlinks:link {
	FONT-SIZE: 11px; COLOR:#FF0000; FONT-FAMILY: Verdana, Tahoma, Arial, ms sans serif; TEXT-DECORATION: none
}
A.atozlinks:visited {
	FONT-SIZE: 11px; COLOR: #FF0000; FONT-FAMILY: Verdana, Tahoma, Arial, ms sans serif; TEXT-DECORATION: none
}

A.atozlinks:hover {
	FONT-SIZE: 11px; COLOR: #000000; FONT-FAMILY: Verdana, Tahoma, Arial, ms sans serif; TEXT-DECORATION: underline
}



A.editlinks:link {
	FONT-SIZE: 11px; COLOR:#FF6600; FONT-FAMILY: Verdana, Vardana, Arial, Helvetica, sans-serif; TEXT-DECORATION: none; font-weight:normal;
}
A.editlinks:visited {
	FONT-SIZE: 11px; COLOR:#FF6600; FONT-FAMILY: Verdana, Vardana, Arial, Helvetica, sans-serif; TEXT-DECORATION: none; font-weight:normal;}

A.editlinks:hover {
	FONT-SIZE: 11px; COLOR: #000000; FONT-FAMILY: Verdana, Vardana, Arial, Helvetica, sans-serif; TEXT-DECORATION: underline;font-weight:normal;
}

A.editlinks1:link {
	FONT-SIZE: 11px; COLOR:#a60000; FONT-FAMILY: Verdana, Vardana, Arial, Helvetica, sans-serif; TEXT-DECORATION: none; font-weight:normal;
}
A.editlinks1:visited {
	FONT-SIZE: 11px; COLOR:#a60000; FONT-FAMILY: Verdana, Vardana, Arial, Helvetica, sans-serif; TEXT-DECORATION: none; font-weight:normal;}

A.editlinks1:hover {
	FONT-SIZE: 11px; COLOR: #000000; FONT-FAMILY: Verdana, Vardana, Arial, Helvetica, sans-serif; TEXT-DECORATION: underline;font-weight:normal;
}

/* ---------------------------------*/.heading_txt {
	font-family: Vardana, Arial, Helvetica, sans-serif;
	font-size: 15px;
	color: #663300;
	font-weight: 600;
}

.header_tr_bg{
	background-color:#F5F5F5
}
.header_tr_bg2{
	background-color:#999999; 
}
.txtcol { color:#FFFFFF; font-size:12px; font-weight:bold; font-family:Verdana, Vardana, Arial, Helvetica, sans-serif; 
} 
.header_tr_bg3{
	background-color:#CCCCCC
}
.required {
	color: #FF0000;
}
.color_star{
	color:#FF0000;
}
.txtupload { font-family:Verdana, Vardana, Arial, Helvetica, sans-serif; font-size:12px; vertical-align:middle; 

}
a.linklist:link { font-weight:bold; font-size:10px; font-family:Verdana, Vardana, Arial, Helvetica, sans-serif; color:#FF9900; text-decoration:none; }
a.linklist:hover { font-weight:bold; font-size:10px; font-family:Verdana, Vardana, Arial, Helvetica, sans-serif; color:#000000; text-decoration:none; }
a.linklist:visited { font-weight:bold; font-size:10px; font-family:Verdana, Vardana, Arial, Helvetica, sans-serif; color:#FF9900; text-decoration:none; }



