﻿.Field
{
	clear: both;
	vertical-align:middle;	
	padding-left:20px;
	text-align:right;
	font:normal 12px verdana,arial;
	color:#000000;
	padding-bottom:10px;
}

.FieldRight
{
	clear: both;
	vertical-align:middle;
	text-align:left;
	font:normal 12px verdana,arial;
	color:#000000;
	padding-bottom:10px;
}