/* CSS Document */
body {
	margin:0px;
	padding:0px;
	font-family:Verdana, Arial, Helvetica, sans-serif;
	font-size:14px;
}
.pagehead {
	color: #000099;
	font-weight: bold;
}
.instruction {
	font-size:9px;
}
.password {
font-size : 12px;
border : 1px solid #cc9933;
width : 200px;
font-family : arial, sans-serif;
}
.password1 {
font-size : 12px;
border : 1px solid #cc9933;
width : 200px;
font-family : arial, sans-serif;
}
input
{
	
	outline:none;
	
	}